doctype html
html(lang='fr')
  head
    meta(charset="utf-8")

    include includes/rich-data.pug

    title Ce Murmure Festival 2018

  body
    nav.red--bg.blue--text
      include includes/nav-content.pug

    section.red--bg
      .spacing
      .content.col-layout--1
        .col--1
          .col-content.titles
            img(src='/static/typos/main_title.svg')

      .content.col-layout--3
        .col--2--less
          .col-content.date-typo.titles
            img(src='/static/typos/date_typo.svg')

        .col--1--more
          .col-content.white--text.right--text.pl-0
            .main-info.mt-1
              h4 Semur-en-Auxois
                br
                | Parc des Quinconces
              br
              br
              h4 Spectacle vivant
                br
                | Animations Homemade
                br
                | Art Numérique
              br
              br
              h4 Buvette &amp; Restauration
                br
                | Produits locaux &amp; et artisanaux

            .logos.pt-4
              for n in ['a',1,2,3,4,5,6,7,8]
                img(id='logo-'+n, src='/static/logos/logo_'+n+'.svg')

      .content.col-layout--1
        .col--1
          .col-content.pt-0
            .logos-small
              for n in ['a',1,2,3,4,5,6,7,8]
                img(id='logo-'+n, src='/static/logos/logo_'+n+'.svg')

    section.pink--bg.blue--text
      .content.col-layout--1
        .col--1
          .col-content.flex.pb-0.red--text.date-list
            for n in [1,2,3,4,5]
              h3.big vendredi 24
          .col-content.pt-1
            h3 à partir de 18h

          .col-content.groups.friday

            - var fridayGroups = [{
            -   name: 'Benaver',
            -   image: 'benaver.png',
            -   description: 'Groupe de rock festif made in Burgundy, vainqueur du tremplin 2018',
            -   link: 'https://www.facebook.com/benaverlegroupe'
            - }, {
            -   name: 'Freez',
            -   image: 'freez.png',
            -   description: 'Hip-hop cosmique empreint d’un métissage aux couleurs blues, soul et jazz',
            -   link: 'https://www.facebook.com/FreezTheBand'
            - }, {
            -   name: 'Stamp',
            -   image: 'stamp.png',
            -   description: 'Pop-rock progressif puissant et envoutant, aux influences multiples',
            -   link: 'https://www.facebook.com/stampmusique'
            - }, {
            -   name: 'Scrotum',
            -   image: 'scrotum.png',
            -   description: 'Punk énergique aux paroles incisives... Gare aux pogos !',
            -   link: 'https://scrotumpunk.bandcamp.com'
            - }];

            for group in fridayGroups

              a(href=group.link, target='_blank')
                .group
                  h1= group.name
                    .new-window!=require('@/assets/pictos/open_new_window.svg')
                  p= group.description
                  img.date(src='/static/typos/24_aout.svg')
                  img.group-img(src='/static/img/groups/'+group.image)

    section.green--bg.blue--text
      .content.col-layout--1
        .col--1
          .col-content.flex.pb-0.pink--text.date-list
            for n in [1,2,3,4,5]
              h3.big samedi 25
          .col-content.pt-1
            h3 à partir de 14h

          .col-content.groups.saturday

            - var saturdayGroups = [{
            -   name: 'Manu and the red coffee',
            -   image: 'manu-coffee.png',
            -   description: 'Trio parisien distillant un Blues intense aux influences Soul et Folk',
            -   link: 'https://www.facebook.com/manuandtheredcoffee',
            - }, {
            -   name: 'Yoha and the dragon tribe',
            -   image: 'yoha-dragon.png',
            -   description: 'Groupe dijonais de Reggae et World Music, plein d’énergie positive',
            -   link: 'https://www.facebook.com/yohaandthedragontribe',
            - }, {
            -   name: 'Alpha Petulay',
            -   image: 'alpha-petulay.png',
            -   description: 'Charismatique auteur-compositrice, crée un univers musical influencé de Rock, Rumba et grooves downtempo',
            -   big: true,
            -   link: 'https://www.facebook.com/AlphaPetulayOfficiel',
            - }, {
            -   name: 'Boboundé',
            -   image: 'bobounde.png',
            -   description: 'DJ set d’une grande diversité, des années 60/70 aux remixs actuels empreints, de sonorités du monde entier',
            -   big: true,
            -   link: 'https://soundcloud.com/bobounde',
            - }];

            for group in saturdayGroups

              a(href=group.link, target='_blank')
                .group
                  h1
                    .new-window!=require('@/assets/pictos/open_new_window.svg')
                    | &nbsp;
                    span=group.name
                  p(class=group.big?'big':'')= group.description
                  .clear
                  img.date(src='/static/typos/25_aout.svg')
                  img.group-img(src='/static/img/groups/'+group.image)
                .clear

  section.white--text
    .section-2-bg.col-layout--2
      .col--1.orange--bg
        .col-content
      .col--1.pink--bg
        .col-content
    .content.col-layout--2
      .col--1.v-sized--90
        .col-content.orange--bg.flex--col.v-sized--content
          h5 Un grand nombre d’animations interactives et d’ateliers auront lieu sur le festival pendant les 2 jours. Carabinophotomaton, boîte musicale, fractaléidoscope, histoirotron, jackpot, projections de courts métrages, jeux en bois...
          img(src='/static/typos/animations_home_made.svg')
      .col--1.v-sized--90
        .col-content.pink--bg.flex--col.v-sized--content
          h5.green--text SPECTACLE POUR ENFANTS
          a(href='https://www.facebook.com/lacompagniedesagreables', target='_blank')
            .new-window.rebus!=require('@/assets/pictos/open_new_window.svg')
            .rebus-rebut!=require('@/assets/typos/rebus_de_rebut.svg')
          h5 Samedi après midi, venez avec vos enfants pour assister au spectacle participatif pour petits et grands : Rébus de rebuts. C'est un jeu amusant qui consiste à faire deviner une suite d'objets. Avec leur sonorité, on découvre alors un mot, une phrase ou une expression !

  footer.blue--bg.white--text
    include includes/footer-content.pug
